<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    	#overlay{
    		position: fixed;
    		top: 0;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		background: rgba(0,0,0,0.6);
    	}
    </style>
</head>
<body>
	<div id="app">
		<div class="container-fluid">
			<div class="row bg-dark">
				<div class="col-lg-12">
					<p class="text-center text-light display-4 pt-2" style="font-size:25px;">CRUD App using Vuejs, PHP & MySQL</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row mt-3">
				<div class="col-lg-6">
					<h3 class="text-info">Registered Users</h3>
				</div>
				<div class="col-lg-6">
					<button class="btn btn-info float-right" @click="showaddmodel=true">
						<i class="fa fa-user"></i>&nbsp;&nbsp; Add New User
					</button>
				</div>
			</div>
			<hr class="bg-info">
			<div class="alert alert-danger" v-if="errorMsg">{{ errorMsg}}</div>
			<div class="alert alert-success" v-if="successMsg">{{ successMsg }}</div>

			<!-- Displaying Records -->
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<th>ID</th>
								<th>Nmae</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="user in users">
								<td>{{ user.id }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.phone }}</td>
								<td><a href="#" class="text-success" @click="showeditmodel=true"><i class="fa fa-edit"></i></a></td>
								<td><a href="#" class="text-danger" @click="showdeletemodel=true"><i class="fa fa-trash-o"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Add new User Model -->
		<div id="overlay" v-if="showaddmodel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-tite">Add New User</h5>
						<button type="button" class="close" @click="showaddmodel=false">
							<span aria-hidden="true" >&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="newUser.name">
							</div>
							<div class="form-group">
								<input type="text" name="email" class="form-control form-control-lg" placeholder="Email" v-model="newUser.email">
							</div>
							<div class="form-group">
								<input type="text" name="phone" class="form-control form-control-lg" placeholder="Phone" v-model="newUser.phone">
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="showaddmodel=false; addUser();">Add User</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Edit User Model -->
		<div id="overlay" v-if="showeditmodel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-tite">Edit User</h5>
						<button type="button" class="close" @click="showeditmodel=false">
							<span aria-hidden="true" >&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="name" class="form-control form-control-lg" placeholder="Name">
							</div>
							<div class="form-group">
								<input type="text" name="email" class="form-control form-control-lg" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="text" name="phone" class="form-control form-control-lg" placeholder="Phone">
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="showeditmodel=false">Update User</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<!-- Delete User Model -->
		<div id="overlay" v-if="showdeletemodel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-tite">Delete User</h5>
						<button type="button" class="close" @click="showdeletemodel=false">
							<span aria-hidden="true" >&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4>Are you sure want to delete this user?</h4>
						<h5>You are Deleting 'Zakir'</h5>
						<hr>
						<button class="btn btn-danger btn-lg">Yes</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showdeletemodel=false">No</button>
					</div>
				</div>
			</div>
		</div>


	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>